<a href="https://colab.research.google.com/github/bachinaram/python4all/blob/main/code%5Ccolab-notebooks%5Cstrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Python strings**
# class starts at 7:35
We are going to have long session today 
end time 9 - 9-30AM


1.   upper()
2.   lower()
3. capialize()

In [2]:
my_text="hello, " + "students"
print(my_text)

hello,students

In [8]:
print("hello " + "students")
print("hello" + "," + " " + "students")
print("hello" + "," + " " + "students" + str(10))

my_message="""hello students how are you doing
how is your class
how many students in calss"""

print(my_message)

hello students
hello, students
hello, students10
hello students how are you doing
how is your class
how many students in calss

In [15]:
#function vs method
"""str()
int()
type()

str.upper()
str.lower()
str.capitalize()
"""
msg="hello"
msg2=10
str(msg2)

type(str(msg2))

str

In [21]:
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"

print(statement1)
print(statement2)
print()
print(type(statement1))
print(statement1.upper())

print(statement2.lower())

this is a python class
THIS IS A JAVA CLASS

<class 'str'>
THIS IS A PYTHON CLASS
this is a java class

In [24]:
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"
statement3="this Is a PythOn clAss"

print(statement1.capitalize())
print(statement2.capitalize())
print(statement3.capitalize())

This is a python class
This is a java class
This is a python class

In [25]:
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"
statement3="this Is a PythOn clAss"

print(statement1.swapcase())
print(statement2.swapcase())
print(statement3.swapcase())

THIS IS A PYTHON CLASS
this is a java class
THIS iS A pYTHoN CLaSS

In [26]:
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"
statement3="this Is a PythOn clAss"

if statement1 == statement3:
  print("both are same")
else:
  print("both are different")

both are different

In [29]:
statement1="this is a python class"
statement4="THIS IS A PYTHON CLASS"


if statement1.upper() == statement3.upper():
  print("both are same")
else:
  print("both are different")

if statement1.lower() == statement3.lower():
  print("both are same")
else:
  print("both are different")

if statement1.upper() == statement4:
  print("both are same")
else:
  print("both are different")

both are same
both are same
both are same

In [30]:
statement1="this is a python class"
new_statement=statement1.swapcase()

print(new_statement)

THIS IS A PYTHON CLASS

In [39]:
#split method

message ="hello, students"

#print(message.split(','))
#print(message.split(' '))
message1 ="wow! python is cool"
#print(message1.split('!'))
my_list = message1.split(' ')
print(my_list)

for eachString in my_list:
  if eachString == 'is':
    print("you got -  is, here")

if 'is' in my_list:
  print("yes we have is in list")

['wow!', 'python', 'is', 'cool']
you got -  is, here
yes we have is in list

In [40]:
msg="wow!super!wonderful"
print(msg.split('!'))

['wow', 'super', 'wonderful']

In [44]:
#replace
#replace(oldstr,newstr,occurence)
statement1 = 'I have many debit cards and many debit bank accounts and many debit messages'
print(statement1.replace('debit','credit'))
print(statement1.replace('debit','credit',1))
print(statement1.replace('debit','credit',2))
print(statement1.replace('debit','credit',3))

print(statement1.replace('debit','credit'.upper()))

I have many credit cards and many credit bank accounts and many credit messages
I have many credit cards and many debit bank accounts and many debit messages
I have many credit cards and many credit bank accounts and many debit messages
I have many credit cards and many credit bank accounts and many credit messages
I have many CREDIT cards and many CREDIT bank accounts and many CREDIT messages

In [50]:
#isdigit() isupper() islower() startswith() endswith()
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"
statement3="this Is a PythOn clAss"
statement4="234"

num=10

print(statement4.isdigit())
print(statement3.isdigit())

if statement4.isdigit():
  print("you have defined integer in string, so better change it")
  statement4=int(statement4)
  print(type(statement4))
  num=10+statement4
  print(num)
else:
  print("this is not a number")

True
False
you have defined integer in string, so better change it
<class 'int'>
244

In [54]:
statement1="this is a python class"
statement2="THIS IS A JAVA CLASS"
statement3="this Is a PythOn clAss"

print(statement1.isupper())
print(statement2.isupper())

print(statement1.islower())
print(statement2.islower())
print(statement3.islower())

if statement1.upper().isupper():
  print("everthing is upper now")
else:
  print("its not upper")

False
True
True
False
False
everthing is upper now

In [57]:
#str.startswith()
msg="hello students"
print(msg.startswith('Hello'))
print(msg.startswith('hello'))
print(msg.startswith('h'))

msg="hi hello students"
if msg.startswith('hi'):
  print("hi")
else:
  print("hello")

False
True
True
hi

In [59]:
#str.endswith()
msg="hello students"
print(msg.endswith('Hello'))
print(msg.endswith('student'))
print(msg.endswith('students'))
print()
print(msg.endswith('nts'))
print()
#msg="hi hello students"
if msg.endswith('s'):
  print("hi")
else:
  print("hello")

False
False
True

True

hi

In [63]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"

print(message)
print(message[0])
print(message[9])
print(message[12])

hello students
h
d
t

In [66]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"
print(message[1:])
print(message[6:])
print(message[11:])

ello students
students
nts

In [69]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"
print(message[0:5])
print(message[1:10])

hello
ello stud

In [73]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"
print(message[1:12])
print(message[1:12:1])
print(message[1:12:2])
print(message[1:12:3])

ello studen
ello studen
el tdn
eote

In [78]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"

print(message[-14])
print(message[-1])
print(message[-7])
print(message[-10])

h
s
t
o

In [83]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"
print(message[-1:])
print(message[-2:])
print(message[-14:]) #print(message[0:])

s
ts
hello students
hello students

In [88]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"

#print(message[-11:-3])
print(message[-11:-13])
print(message[-3:-11])

In [95]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"

#slicing startswith,endswith,step
#1 positive goes int left to right
#-1 negitive goes form right to left
"""
print(msg[::])
print(msg[::1])
print(msg[::-1])"""


print(msg[1::-1])
print(msg[1::1])


print(msg[6::-1])
print(msg[6::1])



print(msg[6:1:-1])
print(msg[6:11:1])

eh
ello students
s olleh
students

In [101]:
'''
h  e  l  l  o     s  t  u  d  e   n   t   s
0  1  2  3  4  5  6  7  8  9  10  11  12  13

 h   e   l   l   o        s   t   u   d   e   n   t   s
-14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   

'''
message = "hello students"

#print(msg[6:1:-1])
#print(msg[6:11:1])


#print(msg[6:-1:-1])
#print(msg[6:-1:1])
#print(msg[6:11:1])

print(msg[6:-13:-1])
print(msg[::-1])

s oll
stneduts olleh

In [ ]:
#[-1:2:-2]
#startswith
#which direction with how many steps
#endswith checkign factor