<a href="https://colab.research.google.com/github/bachinaram/python4all/blob/main/for_loop_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name

5

In [8]:
name="Gaurav"
my_list=[1,2,3,'Gaurav']

#for eachcharacter in 'gaurav'
for i in name:
  print(i)

print()

for eachChar in name:
  print(eachChar)

print()
#we can use direct sequence data or data(sequence) assigned to variable
for j in "Pavan":
  print(j)
print()

G
a
u
r
a
v

G
a
u
r
a
v

P
a
v
a
n

In [12]:
#for eachcharacter in 'gaurav'
name="Pavan"
print(name)
for i in name:
  print(i,end='')

Pavan
Pavan

In [17]:
my_list=[1,2,3,'Gaurav']
for eachElement in my_list:
  print(eachElement)


for eachElement in my_list:
  print(eachElement,end='')

print()

my_tuple=(4,2,3,'Pavan')
for j in my_tuple:
  print(j)

1
2
3
Gaurav
123Gaurav
4
2
3
Pavan

In [24]:
#range(10) 0-10, total 11 number always starts
for eachNumber in range(11):
  print(eachNumber,end='')

print()

for i in range(5,11):
  print(i,end='')

print()

for i in range(5,12):
  print(i)
print()

2,4,6,8,10
for l in range(1,11,2):
  print(l)
print()

for m in range(1,11,3):
  print(m,end='')
print()

012345678910
5678910
5
6
7
8
9
10
11

1
3
5
7
9

14710

In [31]:
#when iterating over dictionary it will iterate over keys
my_dict1={
    "name":"Gaurav",
    "age":20,
    "marks":56
    }
print("Keys are :",end="")
for eachElement in my_dict1:
  print(eachElement,"",end='')

Keys are :Gaurav 20 56

In [36]:
#find the tottal of student marks
students_marks=[50,98,67,89,69,77]
'''
50 asisin this to some temp variablke
now get new which is 98
50+98
add the result temp value
'''
temp=0
for score in students_marks:
  temp=temp+score
  #temp=0+50 temp=50
  #temp=50+98 temp=148
  #temp=148+67 temp=2 hundred's
  #temp=2hunderes+89 temp
  #...
  #....
print("Gaurav your total score is",temp)
print("your percentage is",temp/6)
print("your percentage is",temp/len(students_marks),"%")

450/6
print(len("hello"))
print(len([50,98,67,89,69,77]))

Gaurav your total score is 450
your percentage is 75.0
your percentage is 75.0 %
5
6

In [42]:
"""my_list=[1,2,3,'Gaurav']
for eachElement in my_list:
  print(eachElement)"""
'''
mylist1=[[1,2,3], [4,5,6], [8,9,10.7384]]
for eachList in mylist1:
  print(eachList)'''

mylist1=[[1,2,3], [4,5,6], [8,9,10.7384]]
for eachList1 in mylist1:
  print(eachList1)
  for eachValue in eachList1:
    print(eachValue)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[8, 9, 10.7384]
8
9
10.7384

In [45]:
#540 table output
for i in range(1,11):
  print("540 * {} = ".format(i),540*i)

540 * 1 =  540
540 * 2 =  1080
540 * 3 =  1620
540 * 4 =  2160
540 * 5 =  2700
540 * 6 =  3240
540 * 7 =  3780
540 * 8 =  4320
540 * 9 =  4860
540 * 10 =  5400

In [50]:
'''
*
**
***
****
*****
'''
'''
i=1, range(1)=0
i=2, range(2)=0,1
i=3, range(3)=0,1,2
i=4, range(4)=0,1,2,3
i=5, range(5)=0,1,2,3,4
'''

for i in range(1,6):
  for j in range(i):
    print('*',end="")
  print()

*
**
***
****
*****