<a href="https://colab.research.google.com/github/bachinaram/python4all/blob/main/for_loop_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name

5

In [ ]:
name="Gaurav"
my_list=[1,2,3,'Gaurav']

#for eachcharacter in 'gaurav'
for i in name:
  print(i)

print()

for eachChar in name:
  print(eachChar)

print()
#we can use direct sequence data or data(sequence) assigned to variable
for j in "Pavan":
  print(j)
print()

G
a
u
r
a
v

G
a
u
r
a
v

P
a
v
a
n

In [ ]:
#for eachcharacter in 'gaurav'
name="Pavan"
print(name)
for i in name:
  print(i,end='')

Pavan
Pavan

In [ ]:
my_list=[1,2,3,'Gaurav']
for eachElement in my_list:
  print(eachElement)


for eachElement in my_list:
  print(eachElement,end='')

print()

my_tuple=(4,2,3,'Pavan')
for j in my_tuple:
  print(j)

1
2
3
Gaurav
123Gaurav
4
2
3
Pavan

In [ ]:
#range(10) 0-10, total 11 number always starts
for eachNumber in range(11):
  print(eachNumber,end='')

print()

for i in range(5,11):
  print(i,end='')

print()

for i in range(5,12):
  print(i)
print()

2,4,6,8,10
for l in range(1,11,2):
  print(l)
print()

for m in range(1,11,3):
  print(m,end='')
print()

012345678910
5678910
5
6
7
8
9
10
11

1
3
5
7
9

14710

In [ ]:
#when iterating over dictionary it will iterate over keys
my_dict1={
    "name":"Gaurav",
    "age":20,
    "marks":56
    }
print("Keys are :",end="")
for eachElement in my_dict1:
  print(eachElement,"",end='')

Keys are :Gaurav 20 56

In [ ]:
#find the tottal of student marks
students_marks=[50,98,67,89,69,77]
'''
50 asisin this to some temp variablke
now get new which is 98
50+98
add the result temp value
'''
temp=0
for score in students_marks:
  temp=temp+score
  #temp=0+50 temp=50
  #temp=50+98 temp=148
  #temp=148+67 temp=2 hundred's
  #temp=2hunderes+89 temp
  #...
  #....
print("Gaurav your total score is",temp)
print("your percentage is",temp/6)
print("your percentage is",temp/len(students_marks),"%")

450/6
print(len("hello"))
print(len([50,98,67,89,69,77]))

Gaurav your total score is 450
your percentage is 75.0
your percentage is 75.0 %
5
6

In [ ]:
"""my_list=[1,2,3,'Gaurav']
for eachElement in my_list:
  print(eachElement)"""
'''
mylist1=[[1,2,3], [4,5,6], [8,9,10.7384]]
for eachList in mylist1:
  print(eachList)'''

mylist1=[[1,2,3], [4,5,6], [8,9,10.7384]]
for eachList1 in mylist1:
  print(eachList1)
  for eachValue in eachList1:
    print(eachValue)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[8, 9, 10.7384]
8
9
10.7384

In [ ]:
#540 table output
for i in range(1,11):
  print("540 * {} = ".format(i),540*i)

540 * 1 =  540
540 * 2 =  1080
540 * 3 =  1620
540 * 4 =  2160
540 * 5 =  2700
540 * 6 =  3240
540 * 7 =  3780
540 * 8 =  4320
540 * 9 =  4860
540 * 10 =  5400

In [ ]:
'''
*
**
***
****
*****
'''
'''
i=1, range(1)=0
i=2, range(2)=0,1
i=3, range(3)=0,1,2
i=4, range(4)=0,1,2,3
i=5, range(5)=0,1,2,3,4
'''

for i in range(1,6):
  for j in range(i):
    print('*',end="")
  print()

*
**
***
****
*****

### We are going to see more examples of FOR, FOR and IF combine, usage of PASS, BREAK, CONTINUE

In [8]:
#1 to 100 print 10, 20 30 40 100
#100 ,90 10 print in reverse
for eachValue in range(10,110,10):
  print(eachValue)

print()
for i in range(100,0,-10):
  print(i)

10
20
30
40
50
60
70
80
90
100

100
90
80
70
60
50
40
30
20

In [9]:
for eachValue in range(10,110,10):
  if eachValue == 100:
    print(eachValue,"- front benchers")
  elif eachValue >= 80:
    print(eachValue,"- friends of front benchers")
  elif eachValue > 40 and eachValue <80:
    print(eachValue,"- most successful people in life")
  else:
    print(eachValue,"- You need find your passion")

10 You need find your passion
20 You need find your passion
30 You need find your passion
40 You need find your passion
50 - most successful people in life
60 - most successful people in life
70 - most successful people in life
80 - friends of front benchers
90 - friends of front benchers
100 - front benchers

In [21]:
#factorial program
#10 = 1*2*3*4*5*6*7*8*9*10
#4 = 4*3*2*1
#0 and 1 = 1
#-8 = no factorial

#1st loop fa = 1
#output variable =1
#output = 1*1
#output = 1

#2nd loop fa =2
#2*1
#output=2

#3rd loop fa =3 
#3*2
#output =6
[1,2,3,4,5]
["hello",1,3.5,"sttudentt"]
fact_number = int(input("Enter any number:"))
output=1
if fact_number < 0:
  print("there is no factorial for this number")
elif fact_number == 0 or fact_number == 1:
  print("factorial for number {} is always 1".format(fact_number))
else:
  for fa in range(1,fact_number+1):
    output = fa*output
  print("The factorial of number {0} is {1}".format(fact_number,output))

Enter any number:-1
there is no factorial for this number

In [22]:
#cube sum
#input as 4
#1**3 + 2 **3 + 3**3 + 4**3 
result=0
cube_number = int(input("enter your number:"))
for num in range(1,cube_number+1):
  result=(num**3)+result
print(result)

enter your number:4
100

In [28]:
for eachChar in "studentts":
  if eachChar == 'd':
    break
  print(eachChar)

s
t
u

In [29]:
for eachChar in "studentts":
  if eachChar == 'd':
    continue
  print(eachChar)

s
t
u
e
n
t
t
s

In [36]:
for eachChar in "students":
  if eachChar == 's':
    continue
    print(eachChar)
  elif eachChar == 'd':
    break
    print(eachChar)
  else:
    print(eachChar)

  print("Hello")

t
Hello
u
Hello

In [37]:
#sum of positive number
#[10,20,-8,-7,4,5,-3]
#+ve number 10,20,4,5
#10+20+4+5
output=0
numbers= [-10,10,20,-8,-7,4,5,-3]
for num in numbers:
  if num < 0:
    continue
  output +=num #output = num+output #  a=a+b #a+=b
print("The sum of positive numbers is",output)

The sum of positive numbers is 39

In [41]:
#sum sequence with even number only, if odd number found exit the program
numbers1= [-10,10,20,-8,-7,4,5,-3]
numbers2= [-10,10,20,-8,4]
output=0
for num in numbers1:
  if num%2!=0:
    print("This sequence has odd number")
    break
  else:
    output += num

This sequence has odd number

In [45]:
my_list=[[1,2,3],[4,5,6],[7,8,9]]
for list in my_list:
  print(list)
  for value in list:
    if value%2==0:
      #continue
      break
    print(value)

[1, 2, 3]
1
[4, 5, 6]
[7, 8, 9]
7

In [52]:
#[i for i in range(2,6)]


my_list = [i for i in range(2,6)]
print(my_list)

'''
my_list1=[]
for i in range(2,6):
  my_list1.append(i)
print(my_list1)
'''

[2, 3, 4, 5]
[2, 3, 4, 5]

In [50]:
my_list = [i*i for i in range(2,6)]
print(my_list)

[4, 9, 16, 25]

In [54]:
my_list = [i*i for i in range(2,6) if(i%2 == 0)]
print(my_list)

[4, 16]