<a href="https://colab.research.google.com/github/bachinaram/python4all/blob/main/python_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
10+20

30

To run the program you need to press ctrl+enter

In [ ]:
#this is type coversion code, these are exmaples of explicit type conversions
result="10"
print(type(result))
print(float(result))
print(int(result))

<class 'str'>
10.0
10

In [ ]:
mystring="abcdefg"
print(type(mystring))
print(list(mystring))
print(tuple(mystring))

mylist=["abc",10,"def",10.5]

print(type(mylist))
#converting from list to tuple
print(tuple(mylist))
#converting from list to string
changed_string=str(mylist)
print(changed_string)
print(type(changed_string))

#playing with dictionary
my_dict={"name":"ram","age":277,"score":67}
print(list(my_dict))

#example of range conversion to list and tuple
my_range=range(10)
print(list(my_range))
print(tuple(my_range))

<class 'str'>
['a', 'b', 'c', 'd', 'e', 'f', 'g']
('a', 'b', 'c', 'd', 'e', 'f', 'g')
<class 'list'>
('abc', 10, 'def', 10.5)
['abc', 10, 'def', 10.5]
<class 'str'>
['name', 'age', 'score']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#convert list or tuple to dictionary
#(1,2) and (3,4) are two tuples
#[(1,2),(3,4)] - list of tuples
#([(1,2),(3,4)]) -  one big tuple
print(dict([("student1","hari"),("student2","lakshmi")]))

{'student1': 'hari', 'student2': 'lakshmi'}

Operator concepts in python

In [ ]:
#Arthimetic operator
#(+)
print(2+3)
print("hello"+" world")
print(10.23+34.12345)
#False 0, True 1
print(True+True)
print(False+True)
list1=["hello", "students", 10, 3]
list2=["hai", "marks", 40, 60]
list3=list1+list2
print(list3)
# you cannot add list and tuple

#(-)
print(2-3)
print(10.234-4.546)
print(True-True)

#(*)
print("------------------------------")
print("-"*30)
mystring1="class"
print(mystring1*3)

#(/)
print(False/10)
print(True/3)


#floor division
print(7/2) #normal division
print(7//2) #excludes the decimal point and print least round value

#(**)
print(2**3)
print(25**2)

5
hello world
44.353449999999995
2
1
['hello', 'students', 10, 3, 'hai', 'marks', 40, 60]
-1
5.688
0
------------------------------
------------------------------
classclassclass
0.0
0.3333333333333333
3.5
3
8
625

In [ ]:
#assignment operators
var1=var2=var3=10

var1+=20 #var1=var1+20
var2-=30 #var2=var2-30
var3*=2 #var3=var3*2
print(var1)
print(var2)
print(var3)

30
-20
20

In [ ]:
#comparision operators
#diff between = and ==
myvar=10
myantvar=20
print(myvar==myantvar)

print(10==20)
print("hello"=="hello1")
print(False==False)

#(!=)

print(False!=False)
print(10!=10)
print(10!=20)
#(<)
print(10<20)
print(20>30)

False
False
False
True
False
False
True
True
False

In [ ]:
#logical operator
#and table
print("this is and table")
print(True and True) #True
print(True and False) #False
print(False and True) #False
print(False and False) #False

print("this is or table")
print(True or True) #True
print(True or False) #True
print(False or True) #True
print(False or False) #False

myvar1=10
myvar2=20
mystr1="hello"
mystr2="hello"
print(myvar1<myvar2 and mystr1 != mystr2) #10<20 and "hello"!="hello" - 
#True and False
print(myvar1<myvar2 or mystr1 != mystr2)#10<20 or "hello"!="hello"
#True or False
print(20==20 and 30<40)


print(True and True)
print(True or False) #True
print(not(True or False)) #False

print(not(True))

this is and table
True
False
False
False
this is or table
True
True
True
False
False
True
True
True
True
False

False

In [ ]:
print("_"*230)

______________________________________________________________________________________________________________________________________________________________________________________________________________________________________

IDENTITY Operators (is) and (is not)

In [ ]:
#-5 to 256 with in tthis range object hold the data in reserved memory
var1=10
var2=10
print(id(var1))
print(id(var2))

93854939171616
93854939171616

In [ ]:
print(var1 == var2)
print(var1 is var2)

True
True
True

In [ ]:
var1=257
var2=257
print(id(var1))
print(id(var2))

140027132261232
140027132260656

In [ ]:
#-5 to 256 
print(var1 == var2)
print(var1 is var2)
#== compares the data
#is operator compares the object location in data

True
False

In [ ]:
str1="hello student good morning"
str2="hello student good morning"
print(id(str1))
print(id(str2))
print("comparing with ==",str1==str2)
print("comparing with is",str1 is str2)
print("comparing with is not for str1 and str2, {0} object same as\n is not {1} object".format(str1,str2))

140027132470016
140027132295488
comparing with == True
comparing with is False
comparing with is not for str1 and str2, hello student good morning object same as
 is not hello student good morning object

In [ ]:
#condition?result1:result2 (?:)
#statement1 if condition else statement2
print(True) if True else print(False)
print(True) if False else print(False)
print("condition met both number are same") if (2==2) else print("condition does not met both numbers are not same")
print(10) if True else print(40-20)
print(10) if False else print(40-20)
x=10 if True else 20
print(x**x)

True
False
condition met both number are same
10
20
10000000000

Now showing tthe examples of Membership operators
(in)
(not in)

In [ ]:

print('h' in 'hello')
print(10 in [1,2,40])
print('name' in {'name':'gaurav','age':20})
print('score' not in {'name':'gaurav','age':20})
print(40 not in [1,2,40])

True
False
True
True
False

In [ ]:
''' 
other programming languages have syntax with for if and else blocks

print('h' in 'hello')
print(10 in [1,2,40])
print('name' in {'name':'gaurav','age':20})
print('score' not in {'name':'gaurav','age':20})
print(40 not in [1,2,40])

if(2==2){
    print("hello world")
}
elseif{
  new block of code
}
else{
    print("hi world")
}

if(2==2):BEGIN
    print("hello world")
END
else:BEGIN
    print("hi world")
END
'''

' \nother programming languages have syntax with for if and else blocks\n\nprint(\'h\' in \'hello\')\nprint(10 in [1,2,40])\nprint(\'name\' in {\'name\':\'gaurav\',\'age\':20})\nprint(\'score\' not in {\'name\':\'gaurav\',\'age\':20})\nprint(40 not in [1,2,40])\n\nif(2==2){\n    print("hello world")\n}\nelseif{\n  new block of code\n}\nelse{\n    print("hi world")\n}\n\nif(2==2):BEGIN\n    print("hello world")\nEND\nelse:BEGIN\n    print("hi world")\nEND\n'

In [ ]:
#level0
if True:
  #level1
  x=10
  print(x)
  if False:
    #level2
    print(y)
else:
  x=20
  print(x)

10

In [ ]:
i=10
j=10
str1="hello"
str2="hello"
print("we are in normal level or level 0")
if str1==str2:
  print("we now entered level 1")
  if i==j:
    print("now we entered level 2")
    j=20
    str2="students"
    print("{0},{1} todays student count increased from {2} to {3}".format(str1,str2,i,j))
    print("indentation completed for level2")
  print("back to level1")
  print("indentation completed")

  
print("back to level0")

we are in normal level or level 0
we now entered level 1
now we entered level 2
hello,students todays student count increased from 10 to 20
indentation completed for level2
back to level1
indentation completed
back to level0

In [ ]:
cust="Gaurav"
cust_age=int(input("hello {}, please enter your age:".format(cust)))

if cust_age < 18:print("dear {}, you are not allowed inside".format(cust))

if cust_age < 18:
  print("dear {}, you are not allowed inside".format(cust))

hello Gaurav, please enter your age:20

In [ ]:
cust="Gaurav"
cust_age=int(input("hello {}, please enter your age:".format(cust)))

if cust_age < 18:print("dear {}, you are not allowed inside".format(cust))

if cust_age < 18:
  print("dear {}, you are not allowed inside".format(cust))
else:
  print("dear {}, please come inside".format(cust))

hello Gaurav, please enter your age:20
dear Gaurav, please come inside

In [2]:
#if, if else, if elif else and nested if

age=int(input("please enter your age:"))

if age < 30:
  print("you are junior")

please enter your age:18
you are junior

In [4]:
#if, if else, if elif else and nested if

age=int(input("please enter your age:"))

if age < 30:
  print("you are junior")
else:
  print("you are senior")

please enter your age:40
you are senior

In [47]:
#if, if else, if elif else and nested if
'''
age=int(input("please enter your age:"))

if age < 30:
  print("you are junior")
else:
  print("you are senior")
'''
#<statement_for_if_is_true> if <condition> else <else_this_statmentwill_be_used>

print("you are junior") if age < 30 else print("you are senior")

you are senior

In [51]:
'''marks=39.5
marks=marks+0.5 if marks == 39.5 else marks
print(marks)
'''


marks=float(input("please enter your marks"))
if marks > 40.0:
  print("you are passed")
  print("final score",marks)
elif marks < 40.0 and marks > 39.1:
  print("some exemption added and you are passed")
  exempted_marks=40.0-marks
  marks=marks+exempted_marks
  print("you are exempted with",exempted_marks)
  print("your total score is", marks)
else:
  print("please ttry next semester, you have failed")

please enter your marks39.2
some exemption added and you are passed
you are exempted with 0.7999999999999972
your total score is 40.0

In [9]:
#if, if else, if elif else and nested if

age=int(input("please enter your age:"))

if age < 30:
  print("you are junior")
elif age < 40:
  print("you are not junior or senior")
else:
  print("you are senior")

please enter your age:16
you are junior

In [13]:
#if, if else, if elif else and nested if

age=int(input("please enter your age:"))

if age < 30:
  print("you are junior")
elif age < 40:
  print("you are not junior or senior")
elif age <50:
  print("not senior yet")
elif age <60:
  print("you are about to become senior")
else:
  print("you are senior")

please enter your age:56
you are about to become senior

In [18]:
#divisible by 2 or 3
number=int(input("please enter some number"))
if number%2==0:
  print("{} is divided by 2".format(number))
elif number%3==0:
  print("{} is divided by 3".format(number))
else:
  print("{} is not divided by 2 or 3".format(number))

please enter some number9
9 is divided by 3

In [26]:
gender = input("Please enter your gender: ")
if gender == "male":
  print("you are", gender)
elif gender == "female":
  print("you are", gender)
elif gender == "others":
  print("you are others", gender)
else:
  print("system doesnt recognize the {} you have entered".format(gender))
  print("please enter the values like male, female or others")

Please enter your gender: MALE
system doesnt recognize the MALE you have entered
please enter the values like male, female or others

In [29]:
#MALE -> male to conver from cap to small used .lower()
gender = input("Please enter your gender: ")
#gender = gender.lower()
if gender.lower() == "male":
  print("you are", gender)
elif gender.lower() == "female":
  print("you are", gender)
elif gender.lower() == "others":
  print("you are others", gender)
else:
  print("system doesnt recognize the {} you have entered".format(gender))
  print("please enter the values like male, female or others")

Please enter your gender: FEMALE
you are FEMALE

In [30]:
user_msg="python is cool"
if 'b' in user_msg:
  print("b is found")
else:
  print("nothing found")

nothing found

In [34]:
user_msg="python is bad"
if 'bad' in user_msg:
  #print("bad is found")
  print("please dont say bad words to us")
elif 'cool' in user_msg:
  print("cool is found")
else:
  print("nothing found")

please dont say bad words to us

In [36]:
#a=[1,2,"hello", "students"]
#if 1 in a:
if 1 in [1,2,"hello", "students"]:
  print("int 1 found")
else:
  print("nothing found")

int 1 found

In [46]:
#if with just variable will find variable contains the data or not
name = "ram"
myname=""

if name:
  print(name)

if myname:
  print("hello")

if not name:
  print("data {} not present".format(name))

if not myname:
  print("your statement is wrong myname doesnt have data")


if 10:
  print("we have entered some data")

if "hello":
  print("Hi hello also data which is string")

ram
your statement is wrong myname doesnt have data
we have entered some data
Hi hello also data which is string